---
---
{% extends 'layouts/app.njk' %}

{% block panel_1 %}
  {% include "../partials/panel_1.njk" %}
{% endblock %}

{% block panel_2 %}
  {% include "../partials/panel_2.njk" %}
{% endblock %}

{% block panel_3 %}
  {% include "../partials/panel_3.njk" %}
{% endblock %}

{% block panel_4 %}
  {% include "../partials/panel_4.njk" %}
{% endblock %}

{% block panel_5 %}
  
    <p>མི་མང་པོ་ཞིག་གིས་ད་ལྟ་ཝི་སི་ཀོན་སིན་གཙུག་ལག་སློབ་ཆེན་(མལ་ཌི་སིན་)གྱི་མི་དམངས་ཚོའི་བདེ་འཇགས་སྲུང་སྐྱོབ་བྱེད་པའི་ཆ་ཤས་ལེན་གྱི་ཡོད།</p>
<p>ཁྱེད་རང་སློབ་གྲྭར་ཡོང་རྒྱུའི་གྲ་སྒྲིག་མ་བྱེད་གོང་ཉིན་རེར་དྲི་བ་འདི་དག་ལ་ལན་འདེབས་རྒྱུ།</p>
<p>ང་ཚོ་ཐུན་མོང་ཐོག་ནས་ང་ཚོའི་སློབ་གྲྭའི་མི་དམངས་ཀྱི་བདེ་འཇགས་སྲུང་སྐྱོབ་བྱེད་ཐུབ།</p>
<ul>
<li>ཐབས་ཤེས་ཡོད་ཚེ་ལུས་པོའི་བར་དུ་རྒྱང་ཐག་(ཉུང་མཐའ་འང་ཕི་ཊི་དྲུག་) འཇོག་རྒྱུ།</li>
<li>ལུས་པོ་རྒྱང་བཀྱེད་བྱ་རྒྱུ་ཁག་པོ་ཡོད་ཚེ་འཛིན་ཁང་དང་བཅས་པའི་སློབ་གྲྭའི་ཁང་པའི་ཕྱི་ནང་གཉིས་ཀའི་སྤྱི་པའི་ས་ཆ་ཚང་མར་གདོང་ཁེབས་གོན་དགོས་ཀྱི་ཡོད།&nbsp;དབང་པོ་སྐྱོན་ཅན་དང་།&nbsp;ནད་གཞི་སྨན་བཅོས།&nbsp;རྒྱུ་རྐྱེན་གཞན་ལ་བརྟེན་ནས་དེ་ལྟར་བསྒྲུབ་ཐུབ་མེད་ཚེ་དམིགས་བསལ་མཐུན་རྐྱེན་སྦྱོར་ཆོག</li>
<li>ཁྱེད་ཀྱིས་ལག་པ་ཡང་ཡང་བཀྲུ་རྒྱུ།</li>
</ul>
  
{% endblock %}

{% set guidance_1_2 = '
    <ul>
<li>སློབ་གྲྭའི་ས་ཁུལ་དུ་མ་ཡོང་།</li>
<li>ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་བརྟག་དཔྱད་དམ་སློབ་གྲྭར་ཡོང་རྒྱུའི་ཆོག་མཆན་ཐོབ་ཆེད་ཁྱེད་ཀྱི་སྨན་པར་འབྲེལ་བ་བྱ་རྒྱུ།</li>
<li>ཁྱེད་ཀྱི་བརྟག་དཔྱད་གྲུབ་འབྲས་ལ་ནད་མེད་ཅེས་མ་ཐོན་བར་དུའམ་ཁྱེད་ཀྱི་སྨན་པས་ཁྱེད་རང་སློབ་གྲྭར་འགྲོ་ན་ཉེན་ཁ་མེད་པའི་ལམ་སྟོན་མ་སླེབས་བར་དུ་སློབ་གྲྭར་མ་ཡོང་།</li>
<li>ཨ་རི་ནད་རིགས་འགོག་སྲུང་ལྟེ་གནས་&nbsp;<em>Centers for Disease Control</em> ཀྱི་<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">ལམ་སྟོན་འཕར་མ་</a>འདི་དཔྱད་གཞིར་འབུལ་རྒྱུ།</li>
</ul>
  ' %}

{% block guidance_1 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_2 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_3 %}

    <ul>
<li>སློབ་གྲྭར་མ་ཡོང་།</li>
<li>གལ་ཏེ་ཁྱེད་རང་ལ་སྲིད་གཞུང་འཕྲོད་བསྟེན་ལས་ཁུངས་མི་སྣ་སྟེ་འབྲེལ་གཏུག་འཚོལ་འདེད་བྱེད་མིས་ <em>contact tracers</em> འབྲེལ་གཏུག་བྱུང་ཡོད་ཚེ།&nbsp;ཁོ་ཚོའི་ལམ་སྟོན་ཉམས་ལེན་བྱ་རྒྱུ།</li>
</ul>
<p>གལ་ཏེ་ཁྱེད་ལ་ད་དུང་སྲིད་གཞུང་འཕྲོད་བསྟེན་ལས་ཁུངས་ཀྱི་བྱེད་སྒོ་ལམ་སྟོན་ཐོབ་མེད་ཚེ།&nbsp;སློབ་གྲྭར་ཕྱིར་ལོག་མ་བྱེད་གོང་མལ་ཌི་སིན་དང་ཌེན་རྫོང་འཕྲོད་བསྟེན་ལས་ཁུངས་&nbsp;<a href="https://www.publichealthmdc.com"><em>Public Health Madison &amp; Dane County</em></a>&nbsp;ལ་འབྲེལ་བ་བྱ་རྒྱུ།</p>
  
{% endblock %}


{% block guidance_4 %}

    <ul>
<li>སློབ་གྲྭར་མ་ཡོང་།</li>
<li><a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine-isolation.html">ཉིན་&nbsp;༡༤&nbsp;ཡི་རང་ངོས་ཟུར་བཀག་ <em>self-quarantine</em> འགོ་འཛུགས་བྱ་རྒྱུ།</a></li>
<li>གལ་ཏེ་<a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་ནད་རྟགས་</a>ཐོན་ཚེ།&nbsp;རྟོག་ཞིབ་རྒྱུས་ལོན་དང་ཏོག་དབྱིབས་གཉན་རིམས་</li>
</ul>
<p>༡༩&nbsp;ཡི་བརྟག་དཔྱད་ཆེད་དུ་ཁྱེད་ཀྱི་སྨན་པར་འབྲེལ་བ་བྱ་རྒྱུ།</p>
<ul>
<li>ཉིན་&nbsp;༡༤&nbsp;ཡི་རང་ངོས་ཟུར་བཀག་ལ་བསྡད་རྗེས་དང་ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་ནད་རྟགས་མེད་ཚེ་ད་གཟོད་སློབ་གྲྭར་ཕྱིར་ལོག་བྱེད་ཆོག</li>
</ul>
<p>ཨ་རི་ནད་རིགས་འགོག་སྲུང་ལྟེ་གནས་&nbsp;<em>Centers for Disease Control&nbsp;</em>ཀྱི་<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">ལམ་སྟོན་འཕར་མ་</a>འདི་དཔྱད་གཞིར་འབུལ་རྒྱུ།</p>
  
{% endblock %}