/* FONTS */
$contrast_font: Georgia, "Times New Roman", Times, serif;
$heading_font: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body_font: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;


$uw_red: #c5050c;
$uw_anchor_blue: #0479A8;
$uw_main:#494949;
$uw_main_dk:#282728;
$white:#ffffff;
