---
---
{% extends 'layouts/app.njk' %}

{% block panel_1 %}
  {% include "../partials/panel_1.njk" %}
{% endblock %}

{% block panel_2 %}
  {% include "../partials/panel_2.njk" %}
{% endblock %}

{% block panel_3 %}
  {% include "../partials/panel_3.njk" %}
{% endblock %}

{% block panel_4 %}
  {% include "../partials/panel_4.njk" %}
{% endblock %}

{% block panel_5 %}
  
    <p>ཝི་སི་ཀོན་སིན་གཙུག་ལག་སློབ་ཆེན་(མལ་ཌི་སིན་)གྱི་སློབ་ཕྲུག་ཚོས་ཁྱེད་རང་ཉིད་དང་བཅས་པའི་ང་ཚོའི་མི་དམངས་ཀྱི་བདེ་འཇགས་སྲུང་སྐྱོབ་བྱེད་པར་གལ་ཆེའི་ལས་འགན་བསྒྲུབ་ཀྱི་ཡོད།</p>
<p>ཁྱེད་རང་སློབ་གྲྭར་ཡོང་རྒྱུའི་གྲ་སྒྲིག་མ་བྱེད་གོང་ཉིན་རེར་དྲི་བ་འདི་དག་ལ་ལན་འདེབས་རྒྱུ།</p>
<p>ང་ཚོ་ཐུན་མོང་ཐོག་ནས་ང་ཚོའི་སློབ་གྲྭའི་མི་དམངས་ཀྱི་བདེ་འཇགས་སྲུང་སྐྱོབ་བྱེད་ཐུབ།</p>
<ul>
<li>ཐབས་ཤེས་ཡོད་ཚེ་ལུས་པོའི་བར་དུ་རྒྱང་ཐག་(ཉུང་མཐའ་འང་ཕི་ཊི་དྲུག་) འཇོག་རྒྱུ།</li>
<li>ལུས་པོ་རྒྱང་བཀྱེད་བྱ་རྒྱུ་ཁག་པོ་ཡོད་ཚེ་འཛིན་ཁང་དང་བཅས་པའི་སློབ་གྲྭའི་ཁང་པའི་ཕྱི་ནང་གཉིས་ཀའི་སྤྱི་པའི་ས་ཆ་ཚང་མར་གདོང་ཁེབས་གོན་དགོས་ཀྱི་ཡོད།&nbsp;དབང་པོ་སྐྱོན་ཅན་དང་།&nbsp;ནད་གཞི་སྨན་བཅོས།&nbsp;རྒྱུ་རྐྱེན་གཞན་ལ་བརྟེན་ནས་དེ་ལྟར་བསྒྲུབ་ཐུབ་མེད་ཚེ་དམིགས་བསལ་མཐུན་རྐྱེན་སྦྱོར་ཆོག</li>
<li>ལག་པ་ཡང་ཡང་བཀྲུ་རྒྱུ།</li>
</ul>
<p>རྦད་ཇེར་&nbsp;<em>Badgers</em> མི་དམངས་ཀྱིས་ཕན་ཚུན་ལྟ་རྟོག་བྱེད་ཐུབ།&nbsp;ཁྱེད་ལ་རོགས་རམ་འཐོལ་བ་དགོས་ཚེ།&nbsp;གཤམ་འོག་ལ་འབྲེལ་བ་བྱ་རྒྱུ།</p>
<ul>
<li><a href="https://www.uhs.wisc.edu"><em>University Health Services</em></a><em> 608-265-5600</em></li>
</ul>
<p><a href="https://doso.students.wisc.edu"><em>Dean of Students Office</em></a><em> 608-263-5700</em></p>
  
{% endblock %}

{% set guidance_1_2 = '
    <ul>
<li>སློབ་གྲྭར་མ་ཡོང་། ཁྱེད་རང་གཙུག་ལག་སློབ་ཆེན་གྱི་སྡོད་ཁང་དུ་འདུག་གི་ཡོད་ཚེ།&nbsp;སྨན་ཁང་དུ་བསྟེན་གཏུག་བྱེད་དགོས་ན་མ་གཏོགས་རང་གི་ཁང་མིག་ནང་དུ་སྡོད་རྒྱུ།</li>
<li><a href="https://myuhs.uhs.wisc.edu/login_dualauthentication.aspx">MyUHS</a>བརྒྱུད་ནས་སློབ་གྲྭའི་ས་ཁུལ་དུ་ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་བརྟག་དཔྱད་དུས་ཚོད་བཟོ་རྒྱུ།</li>
<li>ནད་མེད་ཅེས་པའི་བརྟག་དཔྱད་གྲུབ་འབྲས་མ་འབྱོར་བར་དུའམ་གཙུག་ལག་སློབ་ཆེན་འཕྲོད་བསྟེན་སྲི་ཞུ་ཁང་<em>University Health Services</em>གིས་ཁྱེད་ལ་སློབ་གྲྭར་ཕྱིར་ལོག་བྱེད་ཆོག་ཅེས་ལམ་སྟོན་མ་སླེབས་བར་དུ་ཁྱེད་ཀྱི་ཉལ་ཁང་དུ་འདུག་པའམ་སློབ་གྲྭའི་ཕྱི་ནས་འདུག་རྒྱུ།</li>
</ul>
<p>ཨ་རི་ནད་རིགས་འགོག་སྲུང་ལྟེ་གནས་&nbsp;<em>Centers for Disease Control&nbsp;</em>ཀྱི་<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">ལམ་སྟོན་འཕར་མ་</a>འདི་དཔྱད་གཞིར་འབུལ་རྒྱུ།</p>
  ' %}

{% block guidance_1 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_2 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_3 %}

    <ul>
<li>སློབ་གྲྭར་མ་ཡོང་།</li>
<li>ཁྱེད་རང་ད་ལྟ་གཙུག་ལག་སློབ་ཆེན་གྱི་སྡོད་ཁང་དུ་འདུག་གི་ཡོད་ཚེ།&nbsp;རང་གི་ཁང་མིག་ནང་དུ་སྡོད་རྒྱུ།</li>
<li>གལ་ཏེ་ཁྱེད་རང་ལ་སྲིད་གཞུང་འཕྲོད་བསྟེན་ལས་ཁུངས་མི་སྣ་སྟེ་འབྲེལ་གཏུག་འཚོལ་འདེད་བྱེད་མིས་ <em>contact tracers</em> འབྲེལ་གཏུག་བྱས་ཡོད་ཚེ།&nbsp;ཁོ་ཚོའི་ལམ་སྟོན་ཉམས་ལེན་བྱ་རྒྱུ།</li>
</ul>
<p>གལ་ཏེ་ཁྱེད་ལ་ད་དུང་སྲིད་གཞུང་འཕྲོད་བསྟེན་ལས་ཁུངས་ཀྱི་བྱེད་ཕྱོགས་ལམ་སྟོན་ཐོབ་མེད་ཚེ།&nbsp;བྱེད་ཕྱོགས་ལམ་སྟོན་ཐོབ་ཆེད་ཁྱེད་ཀྱི་སྡོད་གནས་ཁང་མིག་ནས་ཕྱི་ལ་མ་ཐོན་གོང་ངམ་སློབ་གྲྭར་ཕྱིར་ལོག་མ་བྱེད་གོང་&nbsp;<a href="https://www.uhs.wisc.edu/make-an-appointment/"><em>University Health Services</em></a>&nbsp;ལ་འབྲེལ་བ་བྱ་རྒྱུ།</p>
  
{% endblock %}


{% block guidance_4 %}

    <ul>
<li>སློབ་གྲྭར་མ་ཡོང་།</li>
<li>ཁྱེད་རང་ད་ལྟ་གཙུག་ལག་སློབ་ཆེན་གྱི་སྡོད་ཁང་དུ་འདུག་གི་ཡོད་ཚེ།&nbsp;རང་གི་ཁང་མིག་ནང་དུ་སྡོད་རྒྱུ།</li>
<li><a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine-isolation.html">ཉིན་&nbsp;༡༤&nbsp;ཡི་རང་ངོས་ཟུར་བཀག་ <em>self-quarantine</em> འགོ་འཛུགས་བྱ་རྒྱུ།</a></li>
<li>གལ་ཏེ་<a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་ནད་རྟགས་</a>ཐོན་ཚེ།&nbsp;<a href="https://myuhs.uhs.wisc.edu/login_dualauthentication.aspx">MyUHS</a>བརྒྱུད་ནས་བརྟག་དཔྱད་དུས་ཚོད་བཟོ་རྒྱུ།</li>
<li>ཉིན་&nbsp;༡༤&nbsp;ཡི་རང་ངོས་ཟུར་བཀག་ལ་བསྡད་རྗེས་དང་ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་ནད་རྟགས་མེད་ཚེ་ད་གཟོད་སློབ་གྲྭར་ཕྱིར་ལོག་བྱེད་ཆོག</li>
</ul>
<p>ཨ་རི་ནད་རིགས་འགོག་སྲུང་ལྟེ་གནས་&nbsp;<em>Centers for Disease Control&nbsp;</em>ཀྱི་<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">ལམ་སྟོན་འཕར་མ་</a>འདི་དཔྱད་གཞིར་འབུལ་རྒྱུ།</p>
  
{% endblock %}