---
---
{% extends 'layouts/app.njk' %}

{% block panel_1 %}
  {% include "../partials/panel_1.njk" %}
{% endblock %}

{% block panel_2 %}
  {% include "../partials/panel_2.njk" %}
{% endblock %}

{% block panel_3 %}
  {% include "../partials/panel_3.njk" %}
{% endblock %}

{% block panel_4 %}
  {% include "../partials/panel_4.njk" %}
{% endblock %}

{% block panel_5 %}
  
    <p>ཝི་སི་ཀོན་སིན་གཙུག་ལག་སློབ་ཆེན་(མལ་ཌི་སིན་)གྱི་ལས་བྱེད་ཚོས་ཁྱེད་རང་ཉིད་དང་བཅས་པའི་ང་ཚོའི་མི་དམངས་ཀྱི་བདེ་འཇགས་སྲུང་སྐྱོབ་བྱེད་པར་གལ་ཆེའི་ལས་འགན་བསྒྲུབ་ཀྱི་ཡོད།</p>
<p>ཁྱེད་རང་སློབ་གྲྭར་ཡོང་རྒྱུའི་གྲ་སྒྲིག་མ་བྱེད་གོང་ཉིན་རེར་དྲི་བ་འདི་དག་ལ་ལན་འདེབས་རྒྱུ།</p>
<p>ང་ཚོ་ཐུན་མོང་ཐོག་ནས་ང་ཚོའི་སློབ་གྲྭའི་མི་དམངས་ཀྱི་བདེ་འཇགས་སྲུང་སྐྱོབ་བྱེད་ཐུབ།</p>
<ul>
<li>ཐབས་ཤེས་ཡོད་ཚེ་ལུས་པོའི་བར་དུ་རྒྱང་ཐག་(ཉུང་མཐའ་འང་ཕི་ཊི་དྲུག་) འཇོག་རྒྱུ།</li>
<li>ལུས་པོ་རྒྱང་བཀྱེད་བྱ་རྒྱུ་ཁག་པོ་ཡོད་ཚེ་འཛིན་ཁང་དང་བཅས་པའི་སློབ་གྲྭའི་ཁང་པའི་ཕྱི་ནང་གཉིས་ཀའི་སྤྱི་པའི་ས་ཆ་ཚང་མར་གདོང་ཁེབས་གོན་དགོས་ཀྱི་ཡོད།&nbsp;དབང་པོ་སྐྱོན་ཅན་དང་།&nbsp;ནད་གཞི་སྨན་བཅོས།&nbsp;རྒྱུ་རྐྱེན་གཞན་ལ་བརྟེན་ནས་དེ་ལྟར་བསྒྲུབ་ཐུབ་མེད་ཚེ་དམིགས་བསལ་མཐུན་རྐྱེན་སྦྱོར་ཆོག</li>
<li>ཁྱེད་ཀྱིས་ལག་པ་ཡང་ཡང་བཀྲུ་རྒྱུ།</li>
</ul>
  
{% endblock %}

{% set guidance_1_2 = '
    <ul>
<li>ལས་ཀ་བྱེད་ཡུལ་ལས་ཁུངས་ལ་མ་ཡོང་།</li>
<li>ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་བརྟག་དཔྱད་དམ་ལས་ཡུལ་དངོས་སུ་<em> on-site</em> ལས་ཀ་བྱ་རྒྱུའི་ཆོག་མཆན་ཐོབ་ཆེད་ཁྱེད་ཀྱི་སྨན་པར་འབྲེལ་བ་བྱ་རྒྱུ། སློབ་གྲྭའི་ས་ཁུལ་དུ་བརྟག་དཔྱད་བྱ་རྒྱུ་ཡོད་ལ་&nbsp;<a href="https://myuhs.uhs.wisc.edu/login_dualauthentication.aspx">MyUHS</a>&nbsp;བརྒྱུད་ནས་བརྟག་དཔྱད་དུས་ཚོད་བཟོ་ཆོག</li>
<li>ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་བརྟག་དཔྱད་དུས་ཚོད་བཟོ་རྒྱུ།</li>
<li><a href="https://hr.wisc.edu/smart-restart/#returning-to-workplace">ལས་ཀ་བྱེད་ཡུལ་ལས་ཁུངས་སུ་ཕྱིར་ལོག་བྱེད་པའི་ལམ་སྟོན་འདི་ཉམས་ལེན་བྱ་རྒྱུ།</a></li>
<li>ཁྱེད་རང་ལས་ཀར་ཡོང་གི་མེད་པ་དོ་བདག་གི་ལྟ་རྟོག་པར་བཤད་རྒྱུ།</li>
<li>གུང་གསེང་ཐོབ་སེང་སྐོར་ལ་ཁྱེད་ཀྱི་<a href="https://hr.wisc.edu/docs/hr-contacts.pdf">འབྲེལ་ཡོད་དམ་སྡེ་ཁག་གི་ HR</a> ལ་གོ་བསྡུར་ཞུ་རྒྱུ།</li>
<li>གསང་རྒྱ་ཅན་གྱི་ནད་གཞི་སྨན་བཅོས་དང་འབྲེལ་བའི་གནས་ཚུལ་མཁོ་སྤྲོད་བྱེད་དགོས་ཚེ།&nbsp;ཁྱེད་ཀྱི་<a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">སྡེ་ཁག་དབང་པོ་སྐྱོན་ཅན་ལས་དོན་ངོ་ཚབ་</a> <em>(DDR)</em>ལ་འབྲེལ་བ་བྱ་རྒྱུ།</li>
</ul>
<p>ཨ་རི་ནད་རིགས་འགོག་སྲུང་ལྟེ་གནས་&nbsp;<em>CDC&nbsp;</em>ཀྱི་<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">ལམ་སྟོན་འཕར་མ་</a>འདི་དཔྱད་གཞིར་འབུལ་རྒྱུ།</p>
  ' %}

{% block guidance_1 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_2 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_3 %}

    <ul>
<li>ལས་ཀ་བྱེད་ཡུལ་ལས་ཁུངས་ལ་མ་ཡོང་།</li>
<li>གལ་ཏེ་ཁྱེད་རང་ལ་སྲིད་གཞུང་འཕྲོད་བསྟེན་ལས་ཁུངས་མི་སྣ་སྟེ་འབྲེལ་གཏུག་འཚོལ་འདེར་བྱེད་མིས་འབྲེལ་གཏུག་བྱས་ཡོད་ཚེ།&nbsp;ཁོ་ཚོའི་ལམ་སྟོན་ཉམས་ལེན་བྱ་རྒྱུ།</li>
<li>གལ་ཏེ་ཁྱེད་ལ་ད་དུང་སྲིད་གཞུང་འཕྲོད་བསྟེན་ལས་ཁུངས་ཀྱི་བྱེད་ཕྱོགས་ལམ་སྟོན་ཐོབ་མེད་ཚེ།&nbsp;ལས་ཡུལ་དངོས་སུ་ <em>on-site</em> ལས་ཀར་<a href="https://hr.wisc.edu/smart-restart/#returning-to-workplace">ཕྱིར་ལོག་</a>མ་བྱེད་གོང་&nbsp;<a href="https://www.uhs.wisc.edu/make-an-appointment/"><em>University Health Services</em></a>ལ་འབྲེལ་བ་བྱ་རྒྱུ།</li>
<li>ཁྱེད་རང་ལས་ཀར་ཡོང་གི་མེད་པ་དོ་བདག་གི་ལྟ་རྟོག་པར་བཤད་རྒྱུ</li>
<li>གུང་གསེང་ཐོབ་སེང་སྐོར་ལ་ཁྱེད་ཀྱི་<a href="https://hr.wisc.edu/docs/hr-contacts.pdf">འབྲེལ་ཡོད་དམ་སྡེ་ཁག་གི་ HR</a> འམ་ཁྱེད་ཀྱི་<a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">སྡེ་ཁག་དབང་པོ་སྐྱོན་ཅན་ལས་དོན་ངོ་ཚབ་</a> <em>(DDR)</em>ལ་འབྲེལ་བ་བྱ་རྒྱུ།</li>
</ul>
<p>གསང་རྒྱ་ཅན་གྱི་ནད་གཞི་སྨན་བཅོས་དང་འབྲེལ་བའི་གནས་ཚུལ་མཁོ་སྤྲོད་བྱེད་དགོས་ཚེ།&nbsp;ཁྱེད་ཀྱི་<a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">སྡེ་ཁག་དབང་པོ་སྐྱོན་ཅན་ལས་དོན་ངོ་ཚབ་</a> <em>(DDR)</em>&nbsp;ལ་འབྲེལ་བ་བྱ་རྒྱུ།</p>
  
{% endblock %}


{% block guidance_4 %}

    <ul>
<li>ལས་ཀ་བྱེད་ཡུལ་ལས་ཁུངས་ལ་མ་ཡོང་།</li>
<li><a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine-isolation.html">ཉིན་&nbsp;༡༤&nbsp;ཡི་རང་ངོས་ཟུར་བཀག་ <em>self-quarantine</em> འགོ་འཛུགས་བྱ་རྒྱུ།</a></li>
<li>གལ་ཏེ་<a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་ནད་རྟགས་</a>ཐོན་ཚེ།&nbsp;རྟོག་ཞིབ་རྒྱུས་ལོན་དང་ཏོག་དབྱིབས་གཉན་རིམས་</li>
</ul>
<p>༡༩&nbsp;ཡི་བརྟག་དཔྱད་ཆེད་དུ་ཁྱེད་ཀྱི་སྨན་པར་འབྲེལ་བ་བྱ་རྒྱུ།</p>
<p>སློབ་གྲྭའི་ས་ཁུལ་དུ་བརྟག་དཔྱད་བྱ་རྒྱུ་ཡོད་ལ་<a href="https://myuhs.uhs.wisc.edu/login_dualauthentication.aspx">MyUHS</a>&nbsp;བརྒྱུད་ནས་བརྟག་དཔྱད་དུས་ཚོད་བཟོ་རྒྱུ།</p>
<ul>
<li>ཁྱེད་རང་ལས་ཀར་ཡོང་གི་མེད་པ་དོ་བདག་གི་ལྟ་རྟོག་པར་བཤད་རྒྱུ།</li>
<li>གུང་གསེང་ཐོབ་སེང་སྐོར་ལ་ཁྱེད་ཀྱི་<a href="https://hr.wisc.edu/docs/hr-contacts.pdf">འབྲེལ་ཡོད་དམ་སྡེ་ཁག་གི་ HR</a> འམ་ཁྱེད་ཀྱི་<a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">སྡེ་ཁག་དབང་པོ་སྐྱོན་ཅན་ལས་དོན་ངོ་ཚབ་</a> <em>(DDR)</em>ལ་འབྲེལ་བ་བྱ་རྒྱུ།</li>
<li>གསང་རྒྱ་ཅན་གྱི་ནད་གཞི་སྨན་བཅོས་དང་འབྲེལ་བའི་གནས་ཚུལ་མཁོ་སྤྲོད་བྱེད་དགོས་ཚེ།&nbsp;ཁྱེད་ཀྱི་<a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">སྡེ་ཁག་དབང་པོ་སྐྱོན་ཅན་ལས་དོན་ངོ་ཚབ་</a> <em>(DDR)</em>ལ་འབྲེལ་བ་བྱ་རྒྱུ།</li>
<li>ཉིན་&nbsp;༡༤&nbsp;ཡི་རང་ངོས་ཟུར་བཀག་ལ་བསྡད་རྗེས་དང་ཏོག་དབྱིབས་གཉན་རིམས་&nbsp;༡༩&nbsp;ཡི་ནད་རྟགས་མེད་ཚེ་ད་གཟོད་སློབ་གྲྭར་ཕྱིར་ལོག་བྱེད་ཆོག</li>
</ul>
<p>ཨ་རི་ནད་རིགས་འགོག་སྲུང་ལྟེ་གནས་&nbsp;<em>CDC</em> ཀྱི་<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">ལམ་སྟོན་འཕར་མ་</a>འདི་དཔྱད་གཞིར་འབུལ་རྒྱུ།</p>
  
{% endblock %}