<h2 tabindex="-1" id="panel_2_heading">2. ཁྱེད་ལ་ཐེངས་སྔོན་མར་ནད་རྟགས་ཡོད་མེད་བརྟག་ཞིབ་བྱས་རྗེས་གཤམ་འཁོད་ནད་རྟགས་གསར་པ་ཐོན་སོང་ངམ།</h2>
<ul class="uw-padding-top-2 uw-list-tight" id="panel_2_body">

<li>གྲང་ཤུམ་མཉམ་དུ་ལུས་པོ་འདར་བའམ་མི་འདར་བ་གང་རུང་།</li>
<li>རྒྱུ་རྐྱེན་མི་ཤེས་པའི་ཤ་གྲིམ་ན་ཟུག</li>
<li>སྣ་ཆུ་བཞུར་བའམ་སྣ་ཁུང་འགག་པ། (གསར་པའམ་གཞི་རྩའི་ཆ་ནས་སྡུག་ཏུ་འགྲོ་བ)</li>
<li>མིད་པ་ན་བ།</li>
<li>བྲོ་བ་མྱོང་མི་ཐུབ་པའམ་དྲི་མ་སྣོམ་མི་ཐུབ་པ།</li>
<li>རྒྱུ་རྐྱེན་མི་ཤེས་པའི་མགོ་གཟེར (རྒྱུན་ལྡན་གྱི་མགོ་གཟེར་དང་མི་འདྲ་བ)</li>

</ul>