<h2 tabindex="-1" id="panel_1_heading">1. ཁྱེད་ལ་གཤམ་འཁོད་ནད་རྟགས་རྣམས་ཡོད་དམ།</h2>
<ul class="uw-padding-top-2 uw-list-tight uw-one-column" id="panel_1_body">

<li>ཚ་བ། (ཚ་ཚད་ 100.4°F/38°C ཡིན་པའམ་ཡང་ན་དེའི་ཡན་ཡིན་པ)</li>
<li>དབུགས་ཐུང་བའམ་དབུགས་གཏོང་ལེན་བྱེད་དཀའ་བ།</li>
<li>རྒྱུ་རྐྱེན་མི་ཤེས་པའི་གློ་ལུ།</li>
<li>རྒྱུ་རྐྱེན་མི་ཤེས་པའི་ལུས་ཐང་ཆད་པ།</li>
<li>ཞེ་མེར་ལང་བའམ་སྐྱུག་པ།</li>
<li>བཤལ་འཁྲུ (ཐེངས་མང་ལ་བཤང་བ་སླ་བའམ་ཆུ་ལྟར་བཤལ་བ)</li>

</ul>