<h2 tabindex="-1" id="panel_3_heading">3. ཁྱེད་རང་འདས་པའི་ཉིན་ ༡༤ རིང་ཏོག་དབྱིབས་གཉན་རིམས་ ༡༩ ཡི་ནད་གཞིར་ངོས་འཛིན་བྱས་པའི་མི་དང་ཐག་ཉེའི་འབྲེལ་ཐུག་བྱུང་ཡོད་དམ།</h2>
<p class="uw-padding-top-0" id="panel_3_body">
  ཐག་ཉེའི་འབྲེལ་ཐུག་ནི་ཆུ་ཚོད་སྐར་མ་ ༡༥ འམ་དེ་ལས་རིང་བར་ཕི་ཊིའམ་ཁྲུ་ ༦ (མི་ཊེར ༢) ལས་ཉུང་བའི་ཐག་ཉེ་སར་སྡོད་པར་གོ་དགོས། གལ་ཏེ་ཁྱེད་ཀྱི་ཐག་ཉེའི་འབྲེལ་ཐུག་མི་ཡིས་ཝི་སི་ཀོན་སིན་གཙུག་ལག་སློབ་ཆེན་(མལ་ཌི་སིན་)གྱི་སྨན་དཔྱད་དང་སྤྱི་དམངས་འཕྲོད་བསྟེན་སློབ་གྲྭ་ (<i>School of Medicine and Public Health</i>) འམ་ཕྱི་ལོགས་ཀྱི་འཕྲོད་བསྟེན་སྨན་ཁང་ཁག་གི་བྱེད་སྒོ་ལམ་སྟོན་ལྟར་ཏོག་དབྱིབས་གཉན་རིམས་ ༡༩ ནད་མནར་ནད་པར་བརྟག་དཔྱད་སྨན་བཅོས་བྱེད་ཀྱི་ཡོད་ཚེ། མེད་ ཅེས་ལན་འདེབས་བྱ་རྒྱུ། 
</p>