<h2 tabindex="-1" id="panel_2_heading">2. के तपाईंले आफ्नो अन्तिम लक्षणको जाँच पछि यी मध्ये कुनै नयाँ लक्षण सुरु भएको अनुभव गर्नुभयो ?</h2>
<ul class="uw-padding-top-2 uw-list-tight" id="panel_2_body">

<li>काँप्ने वा नकाँप्ने चिसो लाग्नु</li>
<li>थाहा नपाइ सुरु भएको मासु दुखाइ</li>
<li>सिँगान बगेको वा नाक बन्द भएको (नयाँ वा पहिले भन्दा खराब हुँदै गएको)</li>
<li>घाँटी खसखस भएको</li>
<li>स्वाद वा गन्ध हराएको</li>
<li>थाहा नपाइ सुरु भएको टाउको दुखाइ (सामान्य टाउको दुखाइ भन्दा फरक)</li>

</ul>