<h2 tabindex="-1" id="panel_3_heading">3. के तपाईं गएको १४ दिन भित्रमा <i>COVID-19</i> पत्ता लागेको व्यक्तिसँग नजिकको सम्पर्कमा आउनुभएको छ ?</h2>
<p class="uw-padding-top-0" id="panel_3_body">
  नजिकको सम्पर्क भनेको ६ फिट (२ मिटर) भित्र १५ मिनेट वा लामो समयसम्म रहनु हो । यदि तपाईंको नजिकको सम्पर्कले <i>COVID</i> पोजिटिभ बिरामीहरूको लागि <i>UW-Madison School of Medicine and Public Health</i> वा अन्य बाह्य स्वास्थ्य प्रणालीका उपयुक्त प्रोटोकलहरूको पालना गर्दै स्वास्थ्य हेरचाह प्रदान गरिरहेको छन् भने, उत्तर छैन (<i>No</i>) हुन्छ&nbsp;।
</p>