<h2 tabindex="-1" id="panel_1_heading">1. के तपाईंसँग यी लक्षणहरू छन् ?</h2>
<ul class="uw-padding-top-2 uw-list-tight uw-one-column" id="panel_1_body">

<li>ज्वरो (<em>100.4°F/38°C</em> को वा माथिको तापक्रम)</li>
<li>सास फेर्न गाह्रो हुने</li>
<li>थाहा नपाइ सुरु भएको खोकी</li>
<li>थाहा नपाइ सुरु भएको थकान</li>
<li>रिँगटा लाग्नु वा बान्ता गर्नु</li>
<li>झाडा पखाला लाग्नु (बारम्बार बगेको वा पानी जस्तो दिसा आउनु)</li>
  
</ul>