<h2 tabindex="-1" id="panel_2_heading">2. Have you experienced <em>new</em> onset of any of the following since your last symptom check?</h2>
<ul class="uw-padding-top-2 uw-list-tight" id="panel_2_body">
  <li>Chills with or without shaking</li>
  <li>Muscle pain that is unexplained</li>
  <li>Runny nose or nasal congestion (new or worsening from baseline)</li>
  <li>Sore throat</li>
  <li>Loss of taste or smell</li>
  <li>Headache that is unexplained (different than typical headaches)</li>
</ul>