<h2 tabindex="-1" id="panel_3_heading">3. Have you had close contact in the last 14 days with someone diagnosed with COVID-19?</h2>
<p class="uw-padding-top-0" id="panel_3_body">
  Close contact is being within 6 feet (2 meters) for 15 minutes or longer. If your close contact is providing clinical care for COVID-positive patients while following UW-Madison School of Medicine and Public Health or other outside health system appropriate protocols, answer <i>No</i>.
</p>