<h2 tabindex="-1" id="panel_1_heading">1. Do you have symptoms of:</h2>
<ul class="uw-padding-top-2 uw-list-tight" id="panel_1_body">
  <li>Fever (temperature at or above 100.4°F/38°C)</li>
  <li>Shortness of breath or difficulty breathing</li>
  <li>Cough that is unexplained</li>
  <li>Unexplained fatigue</li>
  <li>Nausea or vomiting</li>
  <li>Diarrhea (multiple episodes of loose or watery stools)</li>
</ul>