---
---
{% extends 'layouts/app.njk' %}

{% block panel_1 %}
  {% include "../partials/panel_1.njk" %}
{% endblock %}

{% block panel_2 %}
  {% include "../partials/panel_2.njk" %}
{% endblock %}

{% block panel_3 %}
  {% include "../partials/panel_3.njk" %}
{% endblock %}

{% block panel_4 %}
  {% include "../partials/panel_4.njk" %}
{% endblock %}

{% block panel_5 %}
<p>Los estudiantes de UW-Madison tienen un papel/rol importante en el mantenimiento de la seguridad en nuestra comunidad, incluido usted.</p>
<p>Por favor, responda estas preguntas cada día antes de disponerse a venir al campus.<br>
Juntos podemos mantener segura nuestra comunidad del campus:</p>
<ul>
<li>Mantenga el distanciamiento físico (mínimo seis pies) siempre que sea posible.</li>
<li>Hay que llevar mascarillas en todos los espacios públicos interiores del campus, incluyendo las aulas, y en el exterior cuando el distanciamiento físico no sea posible. Para aquellos que no puedan hacerlo por razones de discapacidad, médicas o de otro tipo, se podrán hacer acomodaciones.</li>
<li>Lávese las manos con frecuencia.</li>
</ul>
<p>Los <em>badgers</em> se cuidan unos a otros. Si necesita recursos adicionales o ayuda, póngase en contacto con:</p>
<ul>
<li>Los Servicios de salud de la universidad (<a href="https://www.uhs.wisc.edu">University Health Services</a>) al 608-265-5600.</li>
<li>La oficina del Decano de los estudiantes (<a href="https://doso.students.wisc.edu">Dean of Students Office</a>) al 608-263-5700.</li>
</ul>
{% endblock %}

{% set guidance_1_2 = '
<ul class="uw-padding-top-2 uw-list-tight">
<li>No venga al campus. Si actualmente vive en una residencia universitaria, permanezca en su habitación y solo salga para recibir atención médica.</li>
<li>Haga una cita usando MyUHS  para hacerse la prueba del COVID-19 en el campus.</li>
<li>Permanezca en la habitación de su residencia o fuera del campus hasta que el resultado de su prueba sea negativo o hasta que <i>University Health Services</i> autorice su regreso al campus.</li>
<li>Consulte esta guía adicional (<i><a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">additional guidance</a></i>) de los Centros para el Control de Enfermedades.</li>
</ul>' %}

{% block guidance_1 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_2 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_3 %}
{# <h2>Guidance for Students</h2> #}
<ul>
<li>No venga al campus.</li>
<li>Si actualmente vive en una residencia universitaria, permanezca en su habitación.</li> 
<li>Si ha estado en contacto con funcionarios de salud pública, como rastreadores de contactos, siga sus indicaciones.</li> 
<li>Si aún no ha recibido indicaciones de salud pública, póngase en contacto con los Servicios de salud de la universidad (University Health Services) para recibir instrucciones antes de salir de su habitación o regresar al campus.</li> 
</ul>
{% endblock %}


{% block guidance_4 %}
{# <h2>Guidance for Students</h2> #}
<ul>
<li>No venga al campus.</li>
<li>Si actualmente vive en una residencia universitaria, permanezca en su habitación.</li>
<li>Si desarrolla síntomas, comience una cuarentena de 14 días (<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine-isolation.html"><em>Begin a 14-day self-quarantine</em></a>).</li>
<li>Si desarrolla síntomas de COVID-19 (<a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html"><em>COVID-19 symptoms</em></a>), haga una cita usando <a href="https://myuhs.uhs.wisc.edu/login_dualauthentication.aspx">MyUHS</a> para hacerse la prueba del COVID-19.</li>
<li>Solo regrese al campus tras una cuarentena de 14 días y sin tener síntomas de COVID-19.</li>
</ul>
<p>Consulte esta guía adicional (<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine-isolation.html"><em>additional guidance</em></a>) de los Centros de Control de Enfermedades.</p>
{% endblock %}