<h2 tabindex="-1" id="panel_2_heading">2. Koj puas muaj ib qho cim mob tshiab li cov nram no tom qab zaum tas no ntsuam?</h2>
<ul class="uw-padding-top-2 uw-list-tight" id="panel_2_body">

<li>No no nrog tshee los tsis tshee</li>
<li>Mob tej leeg tsis paub yog vim li cas</li>
<li>Los ntswg los txhaws ntswg (tshiab los tshaj qhov qub)</li>
<li>Mob qa</li>
<li>Noj tsis hnov qab los tsw</li>
<li>Mob tob hau tsis paub vim li cas (txawv tshaj txhia zaus mob)</li>
</ul>