<h2 tabindex="-1" id="panel_3_heading">3. Koj puas tau nyob ze ib tug kuaj muaj tus kab mob COVID-19 14 hnub tas los no?</h2>
<p class="uw-padding-top-0" id="panel_3_body">
  Nyob ze yog nyob li 6 ruam (2 mev) ntev li 15 feeb los tshaj. Yog qhov koj tau nyob ze yog kuaj los tu ib tug neeg muaj tus kab mob COVID tabsis ua raws  <i>UW-Madison School of Medicine and Public Health</i> los lwm qhov chaw kuaj mob cov kev muaj ua raws, teb Tsis muaj.
</p>