<h2 tabindex="-1" id="panel_1_heading">1. Koj puas muaj cov cim mob no:</h2>
<ul class="uw-padding-top-2 uw-list-tight uw-one-column" id="panel_1_body">

<li>Ua npaws (kub txog los tshaj 100.4°F/38°C)</li>
<li>Txog siav los ua tsis taus pa</li>
<li>Hnoos hnoos tsis paub vim li cas</li>
<li>Nkees nkees tsis paub vim li cas</li>
<li>Xeev siab los ntuav</li>
<li>Lawv los raws plab (ntau zaus quav nkos los ua kua)</li>

</ul>