<h2 tabindex="-1" id="panel_2_heading">2. 在上次监测症状之后，您是否出现了以下任何一种新的情况？</h2>
<ul class="uw-padding-top-2 uw-list-tight" id="panel_2_body">


<li>发冷（无论是否伴有寒战）</li>
<li>无法解释的肌肉疼痛</li>
<li>流鼻涕或鼻塞（新出现的症状或是在原有基础上加重了）</li>
<li>嗓子疼</li>
<li>失去味觉或嗅觉</li>
<li>无法解释的头痛（和平常的头痛不同）</li>


</ul>