<h2 tabindex="-1" id="panel_1_heading">1. 您是否有以下症状：</h2>
<ul class="uw-padding-top-2 uw-list-tight uw-one-column" id="panel_1_body">

<li>发烧（体温高于或等于100.4°F/38°C）</li>
<li>呼吸短促或呼吸困难</li>
<li>无法解释的咳嗽</li>
<li>无法解释的疲劳</li>
<li>恶心或呕吐</li>
<li>腹泻（多次出现稀便或水样大便）</li>

</ul>