<h2 tabindex="-1" id="panel_3_heading">3. 在过去的14天内，您是否与确诊的<i>COVID-19</i>病例有过密切接触？</h2>
<p class="uw-padding-top-0" id="panel_3_body">
  密切接触指的是与他人在6英尺（2米）的距离内接触了15分钟以上。如果您的密切接触者是在遵守威大-麦迪逊分校医学与公共卫生学院（<i>School of Medicine and Public Health</i>）或其它校外的医疗系统发布的相关条例的情况下为<i>COVID</i>阳性患者提供医疗服务，请回答否。
</p>