<h2 tabindex="-1" id="panel_2_heading">2. ¿Ha experimentado una nueva aparición de alguno de los siguientes síntomas desde la última vez que los revisó?</h2>
<ul class="uw-padding-top-2 uw-list-tight" id="panel_2_body">
  <li>Escalofríos con o sin temblores</li>
  <li>Dolores musculares sin motivo aparente</li>
  <li>Nariz que gotea o congestión nasal (nueva o que empeora a partir del punto de partida)</li>
  <li>Dolor de garganta</li>
  <li>Pérdida del gusto o del olfato</li>
  <li>Dolor de cabeza sin motivo aparente (distinto a los típicos dolores de cabeza)</li>
</ul>