<h2 tabindex="-1" id="panel_1_heading">1. Tiene síntomas de:</h2>
<ul class="uw-padding-top-2 uw-list-tight uw-one-column" id="panel_1_body">
  <li>Fiebre (temperatura de o superior a 100.4°F/38°C)</li>
  <li>Falta de aliento o dificultad para respirar</li>
  <li>Tos sin motivo aparente</li>
  <li>Fatiga sin causa aparente</li>
  <li>Náuseas o vómitos</li>
  <li>Diarrea (episodios múltiples de deposiciones sueltas o acuosas)</li>
</ul>