<h2 tabindex="-1" id="panel_3_heading">3. ¿Ha tenido contacto cercano durante los últimos 14 días con alguien diagnosticado con COVID-19?</h2>
<p class="uw-padding-top-0" id="panel_3_body">
  El contacto cercano es estar a una distancia de 6 pies (2 metros) o menos de otra persona durante 15 minutos o más. Si su contacto cercano se refiere a alguien que está proporcionando atención clínica a pacientes que han dado positivo al COVID mientras seguía los protocolos vigentes de la Escuela de Medicina y Salud Pública de UW-Madison u otro sistema de salud externo, responda <i>No</i>. 
</p>