---
---
{% extends 'layouts/app.njk' %}

{% block panel_1 %}
  {% include "../partials/panel_1.njk" %}
{% endblock %}

{% block panel_2 %}
  {% include "../partials/panel_2.njk" %}
{% endblock %}

{% block panel_3 %}
  {% include "../partials/panel_3.njk" %}
{% endblock %}

{% block panel_4 %}
  {% include "../partials/panel_4.njk" %}
{% endblock %}

{% block panel_5 %}
  
    <p>UW-Madison cov neeg ua haujlwm yog ib pawg pab tswj kom peb ib tsoom muaj kev nyabxeeb –koj nrog tib si.</p>
<p>Thov teb cov lus nug no txhua hnub ua ntej koj npaj yuav tuaj rau ntawm chaw ua haujlwm.</p>
<p>Koom ua ke peb yuav tswj tau kom ib tsoom hauv tsev kawm ntawv muaj kev nyabxeeb:</p>
<ul>
<li>Nyob kom sib nrug deb (ze kawm yog 6 ruam) qhov twg ua tau.</li>
<li>Yuav tsum npog qhov ncauj qhov ntswg tej qhov muaj neeg coob hauv tsev, nrog rau cov hoob kawm, thiab sab nraum zoov uas nyob tsis tau nrug deb. Tej zaum yuav muaj kev pab rau cov npog tsis tau vim muaj kev xiam oob qhab, mob los lwm yam.</li>
<li>Ntxuav koj ob sab tes tas li.</li>
</ul>
  
{% endblock %}

{% set guidance_1_2 = '
    <ul>
<li>Txhob tuaj ntawm chaw ua num.</li>
<li>Hu rau koj qhov chaw kuaj mob mus kuaj saib puas muaj COVID-19. Muaj kuaj hauv tsev kawm ntawv thiab teem caij tau hauv <a href="https://myuhs.uhs.wisc.edu/login_dualauthentication.aspx">MyUHS</a>.</li>
<li><a href="https://hr.wisc.edu/smart-restart/#returning-to-workplace">Ua raws qhov kev qhia no txog kev rov tuaj ntawm chaw ua haujlwm</a>.</li>
<li>Qhia rau koj tus thawjsaib tias koj yuav tuaj tsis tau haujlwm.</li>
<li>Rau kev pab txog caij so, nrog koj <a href="https://hr.wisc.edu/docs/hr-contacts.pdf">qhov los ceg HR</a></li>
<li>Rau qhia txog ntaub ntawv kuaj mob, hu rau koj tus <a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">Divisional Disability Representative</a> (DDR).</li>
</ul>
<p>Mus saib <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">qhov kev ua raws ntxiv (<em>additional</em> <em>guidance</em></a><u>)</u> nyob hauv lub Centers for Disease Control.</p>
  ' %}

{% block guidance_1 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_2 %}
{{ guidance_1_2 | safe }}
{% endblock %}


{% block guidance_3 %}

    <ul>
<li>Txhob tuaj rau ntawm chaw ua haujlwm.</li>
<li>Yog cov neeg taug qab kev noj qab haus huv rau pejxeem twb nrog koj tham lawm, ua raws lawv hais.</li>
<li>Yog cov neeg taug qab kev noj qab haus huv rau pejxeem tsis tau nrog koj tham, hu rau <a href="https://www.uhs.wisc.edu/make-an-appointment/">University Health Services</a> ua ntej <a href="https://hr.wisc.edu/smart-restart/#returning-to-workplace">rov tuaj rau </a>ntawm chaw ua haujlwm.</li>
<li>Qhia rau koj tus thawjsaib tias koj yuav tuaj tsis tau haujlwm.</li>
<li>Rau kev pab txog caij so, hu rau koj <a href="https://hr.wisc.edu/docs/hr-contacts.pdf">qhov los cegg ua haujlwm lub HR</a> los koj tus <a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">Divisional Disability Representative</a> (DDR).</li>
</ul>
<p>Rau qhia txog ntaub ntawv kuaj mob, hu rau koj tus <a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">Divisional Disability Representative</a> (DDR).</p>
  
{% endblock %}


{% block guidance_4 %}

    <ul>
<li>Txhob tuaj rau hauv chaw ua haujwlm.</li>
<li><a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine-isolation.html">Pib cais koj tus kheej rau 14-hnub.</a></li>
<li>Yog muaj <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">cov cim mob COVID-19</a> tshwm, hu rau koj qhov chaw kuaj mob mus ntsuam los kuaj tus kab mob COVID-19. Kuj muaj kuaj nyob hauv tsev kawm ntawv thiab teem caij tau hauv <a href="https://myuhs.uhs.wisc.edu/login_dualauthentication.aspx">MyUHS</a>.</li>
<li>Qhia rau koj tus thawjsaib tias koj yuav tuaj tsis tau haujlwm.</li>
<li>Rau kev pab rau caij so, hu rau koj <a href="https://hr.wisc.edu/docs/hr-contacts.pdf">qhov los ceg haujlwm lub HR</a> los rau koj tus <a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">Divisional Disability Representative</a> (DDR).</li>
<li>Rau qhia txog ntaub ntawv kuaj mob, hu rau koj tus <a href="https://employeedisabilities.wisc.edu/divisional-disability-representatives-ddr/">Divisional Disability Representative</a> (DDR).</li>
<li>Rov tuaj rau hauv tsev kawm ntawv tom qab cais tus kheej 14- hnub thiab tsis muaj cim mob COVID-19 lawm xwb.</li>
</ul>
<p>Mus saib <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fhcp%2Fguidance-prevent-spread.html">qhov kev ua raws ntxiv (<em>additional</em> <em>guidance</em></a><u>)</u> nyob hauv lub Centers for Disease Control.</p>
  
{% endblock %}